<div class="header header-wrapper">

  <!-- top header bar -->
	<div id="header-top" class="navbar">
      <div class="container">
          <div class="row">

            <ul class="social-icons medium round pull-right">
  	    	        <li><a class="social-icon" href="http://www.facebook.com/D1Sports" target="_blank"><i class="fa fa-facebook"></i></a></li>
    	            <li><a class="social-icon" href="http://www.twitter.com/D1Sports" target="_blank"><i class="fa fa-twitter"></i></a></li>
  	            <li><a class="social-icon" href="http://instagram.com/D1Sports" target="_blank"><i class="fa fa-instagram"></i></a></li>
  	            <li><a class="social-icon" href="https://www.pinterest.com/d1sportstrain/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
  	        </ul>

  	        <div class="logo-primary">
  	    	    <a href="https://www.d1sportstraining.com">
  	    	        <img src="//d1e3dggz9c94t5.cloudfront.net/d1/theme/logo-120x140.png" class="img-responsive" alt="D1SportsTraining.com">
  	    	    </a>
  	        </div>

	        </div> {{!-- <div class="row"> --}}
      </div> {{!-- <div class="container"> --}}
    </div> {{!-- <div  id="header-top" class="navbar"> --}}

    <!-- bottom header bar -->
    <div id="header-bottom" class="navbar">
        <div class="container">
          <div class="row">

            <div class="navbar-header">
                <!-- mobile menu button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggle-text">MENU</span>
                    <i class="fa fa-bars fa-2x"></i>
                </button>
            </div>

            <!-- Navigation Dropdown Menu -->
            <div class="navbar-collapse collapse navbar-mainnav" id="mainnav">
                <ul class="nav navbar-nav">

                  <li class="">
                  <a href="#" target="_top">Menu Items Go Here</a>
                  </li>

                </ul> {{!-- <ul class="nav navbar-nav"> --}}
            </div>

        </div>
      </div>
    </div> {{!-- <div id="header-bottom" class="navbar"> --}}

</div> {{!-- <div class="header header-wrapper"> --}}
