@import "bootstrap-custom";
@import "font-awesome";
@import 'd1site';
@import 'nav-scrollspy';
@import 'contact-card';
@import 'login-modal';

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
  background-color: transparent; //clear styling from other CSS files
}
.main-bg {
  background: url('/assets/images/bg-soccer.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-bg {
  background: url('/assets/images/bg-maincontent.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-container {
  padding: 40px 30px 30px 30px;
}
.jumbotron {
  text-align: center;
}
.subheader {
    text-align: center;
    margin-top: 8%;
}

.ember-cli-g-map {
  height: 400px;
}

//twtitter timeline on news page
.timeline-Header {
  text-align: center;
  background: url('/assets/images/bg-red-locations.jpg');
}
.timeline-Header h1 {
  color: #ffffff;
  text-shadow: none;
}

.hide {
  display:none;
}

.show {
  display: block;
}

.emptyPage {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
