{{#partial/content-container}}

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          League News (coming soon)
        </div>
        <div class="panel-body" style="min-height:300px;">

        </div>
      </div>
    </div>
    <div class="col-md-6">
        <a class="twitter-timeline" data-height="600" data-dnt="true" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/D1SoccerChatt/lists/chattanooga-soccer?ref_src=twsrc%5Etfw">A Twitter List by D1SoccerChatt</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>


{{/partial/content-container}}
