{{#partial/content-container}}
  <div class="standings-container">
      {{partial/google-embed
        url="https://docs.google.com/spreadsheets/d/e/2PACX-1vTq0lWya4SF-MX79aOCUJPen4DpPtG6H2A5iLR2hPJ_x-Li8XhvspmhtzCACA8LgKdo4QSX9DOd_PkN/pubhtml?gid=0&single=true&widget=false&headers=false&chrome=false&gridlines=false"
      }}
  </div>
{{/partial/content-container}}
