{{#section-group id="gen-rules" title="General Rules of the Facility"}}

  <ol style="padding-top:20px;">
    <li>
      <p>Individuals utilizing this facility do so at their own risk. The property owner(s), league
      operators, officers, owners, and staff of D1 assume no liability for any injuries or
      accidents which may occur. Please reference Liability / Injury Waiver and Release
      Forms and signage posted within the facility.</p>
    </li>
    <li>
      <p>Conduct within the facility should be in the spirit of good sportsmanship as is on the field.
      Please No Alcohol or Illicit Drug use prior to playing.</p>
    </li>
    <li>
      <p>Should you find or lose any items please report this immediately to the D1 staff (D1 does
      not assume responsibility for any items lost).</p>
    </li>
    <li>
      <p>No alcohol, smoking, glass containers, or gum allowed in the arena.</p>
    </li>
    <li>
      <p>No food, drinks, spitting, or abusive language allowed in the facility. Unless for
      competitors and kept in plastic containers.</p>
    </li>
    <li>
      <p>All play must be conducted as set forth in the D1 INDOOR SOCCER RULES as modified
      by this facility. All rules not outlined will follow USSF Laws of the Game.</p>
    </li>
    <li>
      <p>We reserve the right to refuse play and or service to anyone. Objectives: We wish to
      encourage friendly competition between businesses, schools, municipalities, police and
      fire departments, church groups, schools, fraternities, sororities and other organizations.
      Individuals or groups wishing to form special interest teams (including but not limited to
      physically and mentally challenged players) are encouraged to contact management for
      more information. It is our sincere hope that all players and spectators enjoy our facility.
      Our facility is here for your enjoyment, if there is anything we can do to improve it, please
      let us hear from you.</p>
    </li>

    <br />

    <p>Your comments and suggestions are encouraged and appreciated.</p>
    <p>Information contained herein is subject to change. D1, reserves the right to make changes
    without notification.</p>
  </ol>
{{/section-group}}
