{{#partial/content-container theme="dark"}}
  <div class="dashboard-wrapper">

    <div class="panel panel-default">
      <div class="panel-heading" >
        <h4>Dashboard</h4>
      </div>
      <div class="panel-body">
        <h4>Hello there!</h4>
        <p>
          Eventually this page will show you information about your season.
          Until then, use the links on the left to register for a season
          (sign a waiver and pay) and then join a team!
        </p>
      </div>
      <div class="panel-footer" />
    </div>
  </div>
{{/partial/content-container}}
