{{#partial/content-container theme="dark"}}
  <h1>Dashboard</h1>
  <h4>Here players can register, sign a waiver, link to mind/body to pay, join a team, and more!</h4>
  <h4>Captains can register teams, select team settings/preferences, and manage rosters</h4>
  <h4>Site admins will be able to edit users, edit settings, manage schedule, send notifications/announcement, etc.!</h4>
  <h4>Planning to have a menu bar on the left and a darker theme for the logged-in experience</h4>
{{/partial/content-container}}
