{{#partial/content-container theme="dark"}}
  <div class="dashboard-wrapper">

    <div class="panel panel-default">
      <div class="panel-heading" >
        <h4>Dashboard</h4>
      </div>
      <div class="panel-body">

        <h4>Here players can register, sign a waiver, link to mind/body to pay, join a team, and more!</h4>
        <h4>Captains can register teams, select team settings/preferences, and manage rosters</h4>
        <h4>Site admins will be able to edit users, edit settings, manage schedule, send notifications/announcement, etc.!</h4>
      </div>
      <div class="panel-footer" />
    </div>
  </div>
{{/partial/content-container}}
