<div class="panel panel-primary panel-verify">
  <div class="panel-heading">
    <h4><strong>Verify Email</strong></h4>
  </div>
  <div class="panel-body panel-body-verify">
      {{#if isCallback}}
        {{fa-icon "spinner" spin=true size=4}}
        <div class="clearfix" />
      {{/if}}
      {{#alert-message display=isSendSuccess type='success'}}
           <p>Success! A verification link was emailed to you.</p>
      {{/alert-message}}
      {{alert-message display=isUnknownError }}
      {{#alert-message display=isInvalidCode type='danger'}}
           <p>The verification code seems to be invalid.</p>
           <p>Please use the link below to email a new one.</p>
      {{/alert-message}}


      You must verify your email before you can sign in. <br />
      You should have recieved a verification email when you registered.  It may take up to 30 minutes for the email to arrive.  If you did not recieve the email, resend it!
  </div>
  <div class="panel-footer panel-footer-verify">
    <button type="button" class="btn btn-primary" {{action "sendVerificationEmail"}} disabled={{isSuccess}}> Resend Verification Email </button>
  </div>
</div>
