<div class="panel panel-default panel-registration">
  <div class="panel-heading">
    <h4>Verify Email</h4>
  </div>
  <div class="panel-body panel-body-registration">

  </div>
  <div class="panel-footer">
    

  </div>
</div>
