{{#section-group id="league-player" title="League and Player Information"}}

  {{#section-subgroup id="league-player-responsibility" title="Captain/Player Responsibility"}}
    <p>It is the team’s captain responsibility to be aware of the guidelines, policies, and rules of D1,
    and to keep his/her team informed. It is also the team's captain responsibility to ensure all
    team players are eligible and have completed registration prior to playing. It is the responsibility of
    each player and the player's captain to be aware of the total status of their players' infractions.
    Failure to comply may result in further disciplinary measures, which may include suspension of
    the player/captain and forfeiture of games sanctioned player played in. (This includes use of
    illegal players - those not registered properly on the team roster.)</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-rosters" title="Player Rosters"}}
    <p>Player rosters must be turned in prior to the first league game with at least six (6) registered
    players. Changes will be permitted prior to the FOURTH (4th) GAME. All players must play in at least
    one of the first four (4) games to be eligible for the season. Failure to comply will result in
    forfeiture of all games played with illegal player(s). Players may only be added later if approved
    by a league director and/or D1.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-participation" title="Individual Player Divisional Participation"}}
    <p>Players may only be on one roster in the adult division.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-red-card" title="Red Card Policy"}}
    <p>A player sent off in (or after) a game by a referee (red carded) will
    automatically be suspended from the next game in the season. In addition, a player will be
    banned from playing on any other team until the suspension has been served.</p>
    <ul>
      <li>
        <p>A player red carded for the offense of "foul and abusive language" will be suspended as
        outlined above. If the player red card occurs during the game, the team will play one
        man short for the remainder of the game.</p>
      </li>
      <li>
        <p>A player red carded for the offense of "persistent infraction of the rules after receiving a
        2nd caution (yellow card) will be suspended as outlined above.</p>
      </li>
      <li>
        <p>A player red carded for the offense of “violent conduct" (including, but not limited to:
        spitting, threatening, continued rough play, etc.) will be suspended as outlined above
        and, in addition, will be suspended for one additional game and subject to further
        disciplinary action as decided by league director and/or D1 facility management.</p>
      </li>
      <li>
        <p>Any player receiving a red card must have their eligibility reviewed by league director
        and/or D1 before returning to play.</p>
      </li>
      <li>
        <p>A player red carded for "assaulting an official"* will be suspended from any further
        activities at D1. Local Authorities will be notified and charges will be filed. * An "Assault
        on an Official" shall be defined as an attempt to commit a battery upon an official; and an
        act which is close to accomplishment shall be sufficient to constitute an assault upon an
        official.</p>
      </li>
      <li>
        <p>Any player who accumulates three cautions (yellow cards) during league
        matches per season will be suspended as outlined above.</p>
      </li>
      <li>
        <p>Should a captain of a team be unable to control a player’s actions after a red card is
        issued, the captain will also be suspended as outlined above.</p>
      </li>
      <li>
        <p>"Bench Clearing" - If any player enters the field to break up or participate in a fight will be
        a Red Card offense. The situation will be reviewed by the league director and at least 1
        person from D1.</p>
      </li>
      <li>
        <p>Team Probation – If a team is placed on probation by the disciplinary committee and any
        other infraction occurs the league holds the right to dismiss the team from the league
        with no refund.</p>
      </li>
      <li>
        <p>If for any reason an official at D1 asks that a person leave the arena, the person must leave.</p>
      </li>
    </ul>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-yellow-card" title="Yellow Card Policy"}}
    <p>A player receiving a yellow card must sit out for 2 minutes. The team
    must play short a player for those 2 minutes. (Giving the other team a "power play" advantage)
    If the team is scored upon, then they may add a player and play full strength.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-fighting" title='Fighting: "Zero Tolerance Policy"'}}
    <p>Anyone fighting will be ejected. Anyone threatening
    or stalking another player, captain, staff, official or spectator will also be ejected.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-standings" title="League Standings"}}
    <p>League Standings will be kept. League games that end in a tie score after regulation play
    shall remain a tie game. Playoff games ending in a tie will go directly to Penalty Kicks. (See
    <a href="#game-rules-penalty-kicks">PENALTY KICKS</a>)</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-schedule" title="Game Schedule & Make-Up Games"}}
    <p>There will be no make up games unless there is a league wide cancellation or cancellation
    of games because of the league (i.e. shortage of officials, facility closure, etc.)</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-forfeiture" title="Game Forfeiture"}}
    <p>A team will forfeit a game if they are unable to field a team at the scheduled time
    (See: <a href="#game-rules-number-players">Number of Players</a>). A team should give
    the league a 24 hours notice in advance of a scheduled match if they will be forfeiting.
    Forfeiting 2 or more games in a season without informing the league in andvance may result
    in suspension from the league. A forfeited game will result in a 0-10 loss for the forfeiting team.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-termination" title="Termination of Participation"}}
    <p>The facility management reserves the right to terminate an individual's and team's
    participation at the facility for violation of the facility policies.  If an individual
    is terminated for a violation of facility policies, they will not be entitled to a refund of league fees.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-protest" title="Protest"}}
    <p>Intention to file a protest must be noted in writing immediately following the game.
    A formal written protest with a $20.00 fee (refundable if upheld), must be submitted to D1 or
    league director within 48 hours after the end of the game. ONLY A VIOLATION OF PLAYER
    ELIGIBILITY MAY BE PROTESTED. VIDEO TAPE WILL NOT BE VIEWED AS EVIDENCE IN A PROTEST.</p>
    <p>IT SHOULD BE NOTED THAT IF A PROTEST IS SUBMITTED ALL PARTICIPATING
    PLAYERS ON BOTH PROTESTANTS AND DEFENDANTS TEAMS WILL BE REVIEWED FOR
    ELIGIBILITY.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="league-player-first-aid" title="First Aid"}}
    <p>It shall be the responsibility of each team to maintain their own first-aid kit for their players.</p>
  {{/section-subgroup}}

{{/section-group}}
