{{#section-group id="guidelines" title="Guidelines and Policies"}}

  {{#section-subgroup id="guidelines-waiver" title="Liability / Injury Waiver / Picture ID / Release Form"}}
    <p>No individual will be allowed to participate in any league games, practice session, tournament,
    clinic, open pick-up game, or other activities until a release form has been properly completed
    and signed.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="guidelines-registration" title="League Registration & Fees"}}
    <p>Teams will register with D1 Sports Training Facility by logging in to D1ChattSoccer.com,
      signing an E-Waiver, and paying season fees.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="guidelines-equipment" title="Equipment"}}
    <p>Indoor turfs or flat-soled soccer shoes are required (NO MOLDED OR
    SCREW-IN CLEATS). Teams MUST be dressed in matching colored jerseys (shirts). Teams are
    required to have alternate jerseys. Shin guards are required. Socks must cover shin guards at
    all times. Goalkeepers must have a different distinctive jersey.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="guidelines-sportsmanship" title="Sportsmanship"}}
    <p>Individuals are expected to play under control and within the rules of the
    game, and to the best of their ability while avoiding causing injury to themselves and other
    persons using the facility.</p>
  {{/section-subgroup}}

  {{#section-subgroup id="guidelines-referee" title="Referee Staff"}}
    <p>D1 would like to reaffirm that referees appointed to officiate each game
    have complete authority, and that his/her decisions on points of fact connected with the game
    are final. Officials are independent subcontractors and are not employees of D1. Officiating will
    be monitored and assessed periodically to provide quality officiating. All Officials will be USSF
    certified Officials and will apply the USSF Laws of the Game modified for indoor play stated
    below. Constructive comments regarding officiating are welcomed and encouraged. Please
    submit any such comments in writing. Complaints regarding officials should be by email through
    your League contact and contain points of fact. Do not discuss officiating or the officials with the
    facility staff during or immediately after your game.</p>
  {{/section-subgroup}}

{{/section-group}}
