{{#section-group id="game-rules" title="Rules of the Game"}}

  {{#section-subgroup id="game-rules-ball" title="The Ball"}}
    <ol>
      <li>
        <p>Size 5 balls will be used.</p>
      </li>
      <li>
        <p>Captains should bring a ball for match play..</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-number-players" title="Number of Players"}}
    <ol>
      <li>
        <p>Six players, one of whom shall be a goalkeeper.</p>
      </li>
      <li>
        <p>Minimum of FOUR players needed to start and continue a game.</p>
      </li>
      <li>
        <p>Games are coed and must have 1 female on the field at all times. (Female goalkeeper
        counts)</p>
      </li>
      <li>
        <p>Team will play a player short if a female player is not on the field.</p>
      </li>
      <li>
        <p>If minimum number of players is not met at game start time, the game clock will start and a
        forfeit will be declared upon the 10 minute mark. Any remaining time may be used for a pickup game.</p>
      </li>
      <li>
        <p>Teams may pick up players from within the league to fill the 5th and/or 6th spot on the field
        without forfeiting during season play (pick ups during tournament play results in a forfeit). Teams must
        continue to follow the coed rules with pick ups. If a team has 6 or more players, but is missing a female
        player, they may pick up a female player.  If registered team players show up, the pickup players
        must sub out and remain out the rest of the game.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-equipment" title="Player Equipment"}}
    <ol>
      <li>
        <p>Players must dress in matching jerseys/shirts or in the same color pennies.</p>
      </li>
      <li>
        <p>Consessions may be made if a player is unable to produce a matching jersey/shirt, however players
          wearing colors similar to the opposing team may be removed from the game at the referee's discretion.</p>
      </li>
      <li>
        <p>Shin guards are strongly recommended for player safety.</p>
      </li>
      <li>
        <p>Only flat soled or turf shoes designed for indoor artificial surfaces may be used
        (no studded/screw-in shoes).</p>
      </li>
      <li>
        <p>Goalkeepers must wear colors which distinguish them from all other players and
        referees.</p>
      </li>
      <li>
        <p>NO MOLDED CLEATS.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-duration" title="Duration of Game"}}
    <ol>
      <li>
        <p>A game shall be played in two equal halves of 25 minutes.</p>
      </li>
      <li>
        <p>A half time interval shall be 5 minutes.</p>
      </li>
      <li>
        <p>The clock shall only be stopped for serious injuries and is at the discretion of the referee.</p>
      </li>
      <li>
        <p>During playoffs only, a tie will be decided by penalty kicks. See
        <a href="#game-rules-penalty-kicks">PENALTY KICKS</a>.</p>
      </li>
      <li>
        <p>Duration of Playoff games may be shortened. Refer to schedule.</p>
      </li>
      <li>
        <p>A game may be cut short at the discression of the referee.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-start" title="Start of Play"}}
    <ol>
      <li>
        <p>Kick-off will be given to the home team. Visitors will have kick off at the start of the
      second half.</p>
      </li>
      <li>
        <p>A kick off will start the game and restart the game after a goal has been scored.</p>
      </li>
      <li>
        <p>Teams will change direction at half time and alternate kick off.</p>
      </li>
      <li>
        <p>A goal can be scored directly from a kickoff.</p>
      </li>
      <li>
        <p>The ball does not have to go forward from a kickoff.</p>
      </li>
      <li>
        <p>Player has 6 seconds to put ball back into play.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-goalkeepers" title="Goalkeepers"}}
    <ol>
      <li>
        <p>USSF LAWS of the Game apply when passing back to the goalkeeper.</p>
      </li>
      <li>
        <p>Goalkeeper may slide tackle only if the ball is inside the penalty box.</p>
      </li>
      <li>
        <p>Goalkeeper may not punt or drop-kick the ball.</p>
      </li>
      <li>
        <p>A "goal kick" may not pass over the midfield line in the air. The ball
        must touch a player or the ground before crossing midfield line.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-substitutions" title="Substitutions"}}
    <ol>
      <li>
        <p>Free unlimited substitutions during play:</p>
      </li>
      <li>
        <p>Substituting players must "tag" in and out at an end line or sideline.</p>
      </li>
      <li>
        <p>Any player may change places with the goalkeeper, provided that the referee is informed
        before the change is made, and provided also that the change is made during a
        stoppage of the game.</p>
      </li>
      <li>
        <p>Bench players must stay off the field of play.</p>
      </li>
      <li>
        <p>Substitution infractions will result in the substitute receiving a yellow card. A player
        receiving a yellow card must sit out for 2 minutes, and the team must play a man down.
        The opposing team will be given a "power play" advantage.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-out" title="Out of Bounds"}}
    <ol>
      <li>
        <p>The ball is out of play when the entire ball crosses the sideline / end line.</p>
      </li>
      <li>
        <p>A throw-in (by kick in), corner kick, or goal kick will be awarded when the ball goes out of
        bounds.</p>
      </li>
      <li>
        <p>A throw-in (by kick in) may not go directly into the goal.</p>
      </li>
      <li>
        <p>The ball is out of play if it hits any part of the ceiling. The correct restart will be indirect
        free kick for the other team at the center line.</p>
      </li>
      <li>
        <p>The ball is out of play if it hits any wiring above the field. The correct restart will be indirect
        free kick for the other team at the center line.</p>
      </li>
      <li>
        <p>Player has 6 seconds to put ball back into play.</p>
      </li>
      <li>
        <p>Opposing players shall be 2 yards (6 feet) from the ball.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-fouls" title="Fouls"}}
    <ol>
      <li>
        <p>USSF Laws of the Game apply to all infractions, including but not limited to: kicking,
        pushing, tripping, hand balls, etc…</p>
      </li>
      <li>
        <p>No Sliding - Sliding will be defined as anything other than the feet touching the ground.
        (Goalkeepers may slide inside the penalty box)</p>
      </li>
      <li>
        <p>Excessive fouls may result in a team red card, requiring the team to play down a player.</p>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-free-kicks" title="Free Kicks"}}
    <ol>
      <li>
        <p>The following apply to all restarts:</p>
        <ul>
          <li>
            <p>All free kicks are direct.</p>
          </li>
          <li>
            <p>Ball is in play when it moves from foot contact from the initial player.</p>
          </li>
          <li>
            <p>Opposing players shall be 5 yards (15 feet) from the ball.</p>
          </li>
          <li>
            <p>Player taking a kick cannot play it again until someone else touches the ball.</p>
          </li>
          <li>
            <p>If an opponent refuses to move back 5 yards (15 ft) on referee's request, he may
            be given a yellow card for unsporting behavior.</p>
          </li>
          <li>
            <p>If a player taking the kick delays for longer than six (6) seconds after having been
            signaled to do so by the referee, the opposing team will be awarded the kick.</p>
          </li>
        </ul>
      </li>
    </ol>
  {{/section-subgroup}}

  {{#section-subgroup id="game-rules-penalty-kicks" title="Penalty Kicks (Shootout)"}}
    <ol>
      <li>
        <p>If necessary, time shall be extended at the end of each period to allow the taking of a
        penalty kick.</p>
      </li>
      <li>
        <p>The ball shall be placed 10 yards from the goal line.  Kicking players may not have a
        run-on greater than 5 yards from the placement of the ball.</p>
      </li>
      <li>
        <p>Only the goalkeeper is allowed in the penalty area.In the event of a tie (during playoffs
        only), penalty kicks will be taken (no overtime). Winner will be decided by the best team
        out of 4 kicks. If still tied after both teams have taken 4 kicks, then additional players will
        take the kicks in a sudden death kick off. Any player on the official roster may take a
        penalty in penalty tie breakers. No player may take a second kick until all members of their
        team have taken a first kick.</p>
      </li>
      <li>
        <p>Reduce to equate rules apply.</p>
      </li>
    </ol>
  {{/section-subgroup}}

{{/section-group}}
