
{{#partial/content-container}}

  <div class="row" style = "padding: 20px">
     {{#each groupedImages as |row|}}
        <div class="row">
          {{#each row as |image|}}
            {{image-thumbnail image=image}}
          {{/each}}
        </div>
      {{/each}}
   </div>

{{/partial/content-container}}
