<div class="home-container">
  {{#main-header session=session router=router}}{{/main-header}}

  {{#if session.isAuthenticated}}
  {{else}}
    {{login-modal}} {{!-- needs to be on main template --}}
  {{/if}}

  {{outlet}}


  {{#main-footer}}{{/main-footer}}
</div>
