{{!-- The following component displays Ember's default welcome message. --}}
<h1>Welcome to ember-bootstrap</h1>

<div class="row">
  <div class="col-md-6">
    <a href="http://emberjs.com/" target="_blank">EmberJS</a>
  </div>
  <div class="col-md-6">
    <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
  </div>
</div>

{{outlet}}
