<div class="home-container">
  {{#menu/main-header}}{{/menu/main-header}}

  {{#if session.isAuthenticated}}
  {{else}}
    {{auth/login-modal}} {{!-- needs to be on main template --}}
  {{/if}}

  {{outlet}}


  {{#menu/main-footer}}{{/menu/main-footer}}
</div>
