<div class="home-container">
  {{#main-header session=session}}{{/main-header}}

  {{#if session.isAuthenticated}}
  {{else}}
    {{login-modal}}
  {{/if}}

  {{outlet}}


  {{#main-footer}}{{/main-footer}}
</div>
