<div style="height:300px;" >
  <div class="subheader">
    <h2>Sunday Adult Soccer League</h2>
  </div>
</div>
<div class="row" style="height:300px; background-color:lightgray; text-align: center; color: black;" >
    <div class="col-md-6" style="height:100%">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">First item</li>
        <li class="list-group-item list-group-item-info">Second item</li>
        <li class="list-group-item list-group-item-info">Third item</li>
      </ul>
    </div>
    <div class="col-md-6">
      upcoming events
    </div>
</div>
<div style="height:300px;" >
</div>
<div style="height:300px; background-color:rgba(211,211,211,0.3); text-align: center; font-size:30px; color: black;" >
  More Content Here!
</div>
<div style="height:300px;" >
</div>
