<div style="height:300px;" >
</div>
<div style="height:300px; background-color:lightgray; text-align: center; color: black;" >
    <p style = "font-size:30px;">content here</p>
    <p>(maybe notices/announcements on left and upcoming events on right?)</p>
</div>
<div style="height:300px;" >
</div>
<div style="height:300px; background-color:rgba(211,211,211,0.3); text-align: center; font-size:30px; color: black;" >
  More Content Here!
</div>
<div style="height:300px;" >
</div>
